In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("covid_19_india.csv")

In [6]:
df.head(80)

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3
...,...,...,...,...,...,...,...,...,...
75,76,09/03/20,6:00 PM,Kerala,9,0,3,0,9
76,77,09/03/20,6:00 PM,Maharashtra,2,0,0,0,2
77,78,09/03/20,6:00 PM,Punjab,1,0,0,0,1
78,79,09/03/20,6:00 PM,Rajasthan,1,14,0,0,15
79,80,09/03/20,6:00 PM,Tamil Nadu,1,0,0,0,1

In [11]:
zone=df.groupby("State/UnionTerritory").sum()

In [29]:
orange=zone["Confirmed"]>50000

In [30]:
red=zone["Confirmed"]>100000

In [31]:
green=zone["Confirmed"]<50000

In [38]:
zone[red]

                                     Sno    Cured  Deaths  Confirmed
State/UnionTerritory
Andhra Pradesh                    209831   196773    6041     406739
Assam                             204434   105922     384     189860
Bihar                             208372   194279    2036     310031
Cases being reassigned to states  142703        0       0     312487
Delhi                             211124  1215763   69051    2294798
Gujarat                           209446   782201   76328    1285959
Haryana                           211381   209529    5119     361911
Jammu and Kashmir                 211470   123403    3154     243205
Karnataka                         211554   194168    6415     391093
Kerala                            212509    75629     920     141792
Madhya Pradesh                    210057   370825   26393     591585
Maharashtra                       211989  2548373  232537    5618635
Odisha                            211623   129604     677     197198
Punjab                            212677   130964    4669     199448
Rajasthan                         213089   478498   15833     695138
Tamil Nadu                        213075  1285742   27007    2406960
Telangana                          84550   128361    5622     276791
Telengana                         128847    50222    2987     103803
Uttar Pradesh                     213661   447713   20756     750180
West Bengal                       212316   288839   25271     550274

In [39]:
zone[green]

                                             Sno  Cured  Deaths  Confirmed
State/UnionTerritory
Andaman and Nicobar Islands               206765   2598       0       3562
Arunachal Pradesh                         203246    902      11       4256
Chandigarh                                209273  13636     272      20059
Dadar Nagar Haveli                         83440     14       0        186
Dadra and Nagar Haveli and Daman and Diu   83975   1019       0       3209
Daman & Diu                                 2891      0       0          2
Goa                                       207620   9435      44      27652
Himachal Pradesh                          209430  15713     391      27835
Ladakh                                    211987  10276      34      22967
Manipur                                   209427   8999       0      24707
Meghalaya                                 196650   1316      83       2193
Mizoram                                   209287   1079       0       3895
Nagaland                                  138314   3530       0       9059
Puducherry                                211381   5207     212      13209
Sikkim                                    133655    734       0       2064
Tripura                                   203220  24331      27      42876
Unassigned                                  1648      0       0        161

In [40]:
zone[orange]

                                     Sno    Cured  Deaths  Confirmed
State/UnionTerritory
Andhra Pradesh                    209831   196773    6041     406739
Assam                             204434   105922     384     189860
Bihar                             208372   194279    2036     310031
Cases being reassigned to states  142703        0       0     312487
Chhattisgarh                      209273    44901     313      72789
Delhi                             211124  1215763   69051    2294798
Gujarat                           209446   782201   76328    1285959
Haryana                           211381   209529    5119     361911
Jammu and Kashmir                 211470   123403    3154     243205
Jharkhand                         205467    44394     516      73348
Karnataka                         211554   194168    6415     391093
Kerala                            212509    75629     920     141792
Madhya Pradesh                    210057   370825   26393     591585
Maharashtra                       211989  2548373  232537    5618635
Odisha                            211623   129604     677     197198
Punjab                            212677   130964    4669     199448
Rajasthan                         213089   478498   15833     695138
Tamil Nadu                        213075  1285742   27007    2406960
Telangana                          84550   128361    5622     276791
Telengana                         128847    50222    2987     103803
Uttar Pradesh                     213661   447713   20756     750180
Uttarakhand                       212633    49120     956      81480
West Bengal                       212316   288839   25271     550274